.main{
  color: red;
}
.flex-parent{
  display:flex;
  flex-direction:row;
  justify-content: row;
}
.profile{
  width:30%;
  background: #fff;
  padding: 1%;
  margin:1%;
  border:1px solid #000;
  border-radius:20px;

}
.content{
  width:70%;
  background: #fff;
  padding:1%;
  margin:1%;
  border:1px solid #000;
  border-radius:20px;
}
body{
  background: blue;

}
img{
  height:auto;
  width:200px;
  display:block;
  margin-left:auto;I
  margin-right:auto;
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
.flex-parent{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .profile{
    width:30%;
    background: #fff;
    padding: 1%;
    margin:1%;
    border:1px solid #000;
    border-radius:20px;

  }
  .content{
    width:70%;
    background: #fff;
    padding:1%;
    margin:1%;
    border:1px solid #000;
    border-radius:20px;
  }
}
  @media only screen and (min-device-width:481px) and (max-device-width:768px){
    .flex-parent{
      display:flex;
      flex-direction:column;
      justify-content:center;
    }
    .profile{
      width:30%;
      background: #fff;
      padding: 1%;
      margin:1%;
      border:1px solid #000;
      border-radius:20px;

    }
    .content{
      width:70%;
      background: #fff;
      padding:1%;
      margin:1%;
      border:1px solid #000;
      border-radius:20px;
    }
  }

  @media only screen and (min-device-width:769px) and (max-device-width:1024px){
    .flex-parent{
      display:flex;
      flex-direction:column;
      justify-content: center;
    }
    .profile{
      width:30%;
      background: #fff;
      padding: 1%;
      margin:1%;
      border:1px solid #000;
      border-radius:20px;

    }
    .content{
      width:70%;
      background: #fff;
      padding:1%;
      margin:1%;
      border:1px solid #000;
      border-radius:20px;
    }

  }
